export(filter.country, filter.date, filter.F, filter.gc, filter.h, filter.imocode, filter.mag, 
filter.obsname, filter, filter.shw, filter.site, filter.sol, filter.time, filter.totcor, mag.distr,
pop.index, read.rate, read.magn, solar.long, zhr.graph, zhr) 

import(astroFns, plotrix, graphics)