export(filter.country, filter.datetime, filter.F, filter.gc, filter.h, filter.imocode, filter.mag, 
filter.obsname, filter, filter.shw, filter.site, filter.sol, filter.totcor, mag.distr,
pop.index, pop.index2, read.rate, read.magn, solar.long, sollong_date, zhr) 

import(astroFns, fBasics, graphics, lubridate, plotrix, spatial, stats, utils)
